.products {
    margin-top: 24px;
}

.category {
    height: 580px;
    background-color: white;
    padding: 24px;
    text-overflow: ellipsis;
    border: 1px solid #000;
    border-radius: 24px;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

.category::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.danh-muc li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    position: relative;
    width: 180px;
    height: 310px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
}

.product-item:hover {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 99%;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}

.product-item span {
    height: 61px;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    padding: 0 8px;
    color: var(--text-color);
}

.product-item p {
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
}

.product-item button {
    background-color: var(--primary-color);
    position: absolute;
    right: 8px;
    bottom: 8px;
    height: 30px;
    width: 70%;
    padding: 0 5px 5px 5px;
    color: #fff;
    border-radius: 12px;
    opacity: 1;
}

.product-item button:hover {
    opacity: 0.8;
}