.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo span {
    font-size: 24px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 0 0 10px 0;
    padding-top: 10px;
}

.search {
    position: relative;
}

.header-search {
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 24px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.header-search>* {
    margin-left: 20px;
}

.header-search input {
    height: 36px;
    flex: 1;
    border: none;
}

.header-search label {
    align-items: center;
    margin-right: 20px;
}

.header-search input:focus {
    outline: none;
}

.search-results {
    position: absolute;
    top: 102%;
    left: 16px;
    z-index: 1;
    width: 80%;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.search-results-item {
    display: flex;
    gap: 10px;
    padding: 4px;
    text-decoration: none;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-results-item:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.search-results-item img {
    height: 44px;
    width: 44px;
}

.search-results-item div {
    align-self: center;
}

.login-button {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.login-button>* {
    margin: 0 10px;
}

.login-button a {
    color: black;
    text-decoration: none;
}


nav {
    margin: 10px 0 30px 0;
}

.nav-menu {
    height: 44px;
}

.nav-menu ul {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;

}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li.active {
    color: var(--primary-color);
}

.nav-link {
    display: block;
    cursor: pointer;
    margin-left: 100px;
}

.nav-link.active {
    color: var(--primary-color);
}

.cart-icon {
    position: relative;
}

.cart-icon span {
    position: absolute;
    top: -6px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    color: var(--second-color);
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
}