footer {
    background-color: var(--secondary-color);
    padding-top: 36px;
    margin-top: 24px;
}

.footer-top-list {
    list-style-type: none;
}

.footer-top-list li {
    font-weight: 600;
    margin: 5px 0;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-bot-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.footer-row::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}