.banner {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.banner img {
    display: flex;
    justify-content: right;
    height: 400px;
    margin-top: 100px;
    margin-left: -20px;
}

.banner-intro {
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-intro span {
    font-size: 40px;
}

.banner-intro p {
    margin: 24px 0;
    font-size: 24px;
}

.banner-intro button {
    width: 250px;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: var(--primary-color);
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.banner-intro button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px, -4px);
}

.banner-intro button:focus-visible {
    outline-offset: 1px;
}